<form id="form" [formGroup]="form">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-8 form-group">
      <label class="control-label">Selecionar arquivo</label>
      <div class="input-group">
        <span class="input-group-btn">
          <button
            class="btn btn-primary"
            [disabled]="enviandoDocumento"
            (click)="adicionarArquivo()">Selecionar</button>
        </span>
        <input type="text" class="form-control" placeholder="Nenhum arquivo selecionado"
          formControlName="documento" readonly>
        <span class="input-group-btn">
          <button
            class="btn btn-success"
            [disabled]="!documentoSelecionado || enviandoDocumento"
            (click)="enviarArquivo()">
              <i class="fa fa-upload" aria-hidden="true"></i>
            Enviar arquivo</button>
        </span>
      </div>
      <div class="progress" style="margin-right: 8px; margin-top: -1px;">
        <div
            class="progress-bar"
            role="progressbar"
            [style.width]="percentDone + '%'">
        </div>
      </div>
      <input
        type="file"
        style="display: none;"
        #file
        (change)="fileAddedOnchange()"
        accept="" />
    </div>
  </div>
</form>