.grupo-informacao{
  width:1000px;
  padding-bottom: 10px;

}

.info-desc{
  padding-right:5px;
  padding-top:3px;

}

.descricao{
  font-weight:10;
}
.divisao{
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-estilo{
  background: white;
}
