<div class="div-modal" mat-dialog-content>
  <div class="modal-header">
    <h4 class="modal-title">{{data.titulo}}</h4>
  </div>
  <div  class="modal-body">
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4 form-group">
        <label class="control-label">Número</label><br>
        <label class="NumeroDoc control-label">{{data.ciencia.solicitacaoCiencia.numeroMaterial}}</label>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 form-group">
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 form-group">
        <label class="control-label">Tipo de Ciência</label><br>
        <label class="tipoCiencia control-label">{{data.ciencia.solicitacaoCiencia.tipoCiencia}}</label>
      </div>
    </div>

  <div class="tabela-scroll">
    <app-assinatura-ciencia-acao-card-justificativa [dataSource]="cienciaRejeitado">
    </app-assinatura-ciencia-acao-card-justificativa>

    <form [formGroup]="form">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
          <label class="control-label" style="margin-right: 3px;">Justificativa da Solicitação</label>
          <textarea class="form-control text-box single-line login-textbox-control" height="30px!important"
            id="justificativa" name="justificativa" placeholder="Justificativa" type="text"
            formControlName="justificativa">
            </textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 form-group">
          <label class="control-label">Responsável</label>
          <input type="text" formControlName="responsavel" class="form-control text-box single-line" name="responsavel"
            id="responsavel" />
        </div>

        <div *ngIf="PermirtirCampo()" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <label class="control-label">Data prevista de retorno </label>
          <div class="input-group">
            <input formControlName="dataRetorno" matInput [matDatepicker]="picker"
              class="form-control text-center mat-datapicker-input" [readonly]="true" (click)="picker.open()">
            <span class="input-group-addon" style="cursor: pointer;" (click)="picker.open()">
              <span class="fa fa-calendar-alt"></span>
            </span>
            <mat-datepicker #picker></mat-datepicker>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
          <label class="control-label" style="margin-right: 3px;">Motivo da solicitação</label>
          <textarea class="form-control text-box single-line login-textbox-control" height="30px!important"
            id="observacao" name="observacao" placeholder="nameCampoObservacao" type="text"
            formControlName="observacao">
            </textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
          <label class="control-label" style="margin-right:3px;">Material</label>
          <app-material-saida-item-tabela [configuracao]="acao" [dataSource]="dataSource">
          </app-material-saida-item-tabela>
        </div>
      </div>
      <div *ngIf="PermirtirCampo()" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <app-historico-prorrogacao-tabela *ngIf="HistoricoProrrogacao.length > 0" [dataSource]="HistoricoProrrogacao">
          </app-historico-prorrogacao-tabela>
        </div>
      </div>
    </form>
  </div>
  </div>
  <div class="modal-footer" id="footer">
    <button class="btn btn-success pull-right" style="margin-right: 0px;" (click)="confirmarModal()">
      <i class="fa fa-check" aria-hidden="true"></i> Ciente
    </button>
    <button class="btn btn-danger pull-right" (click)="RejeitarCiencia()">
      <i class="fa fa-times" aria-hidden="true"></i> Rejeitar
    </button>
    <button class="btn btn-danger pull-right" (click)="cancelarModal()">
      <i class="fa fa-times" aria-hidden="true"></i> Cancelar
    </button>
  </div>
</div>
