.form-group {
  margin-bottom: 20px ;
}

.tipoCiencia{
  font-size: 23px;
  color: blue;
}

.NumeroDoc{
  font-size: 23px;
}

.div-modal {
  position: relative;
  min-height: 850px ;
  max-height: inherit;
  overflow: hidden;
}

.modal-body {
  max-height: 920px;
  padding-right: 0px;
  overflow: hidden;
}

.modal-footer {

  position: absolute;
  bottom: 0;
  width: 100%;
   &-last-button {
    margin: 0 !important;
  }
}

.tabela-scroll{
  padding-right: 15px;
  max-height: 630px;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}


