
   .descricaoAssinatura{
    float: left;
    padding-left: 10px;
    white-space: pre-wrap !important;
    width: 91%
  }
  .forcePadding{
    padding-right: 5% !important;
    padding-top: 1% !important;

  }

  @media screen and (max-width: 990px) {
    .descricaoAssinatura{
      width: 89%
    }
  }
  @media screen and (max-width: 700px) {
    .descricaoAssinatura{
      width: 83%
    }
  }
  @media screen and (max-width: 600px) {
    .descricaoAssinatura{
      width: 80%
    }
  }


