<div  class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <mat-card *ngFor="let aprovador of dataSource">
      <mat-card-title>
        <em *appHasPermition="'assinatura:pendencias:exibirstatuspasso'" class="fa fa-circle marcador-rejeitado"
        [mdePopoverTriggerFor]="themePopoverStatusPasso"
        mdePopoverTriggerOn="hover" aria-hidden="true">
        </em>
        <mde-popover #themePopoverStatusPasso="mdePopover" [mdePopoverOverlapTrigger]="false"
        [mdePopoverCloseOnClick]="false" [mdePopoverOffsetX]="0" [mdePopoverOffsetY]="0" [mdePopoverArrowOffsetX]="0"
        mdePopoverArrowColor="transparent">
        <div style="background-color:#565656; padding:20px; border-radius:5px; opacity:0.95;">
          <span style="color: white;">Rejeitado</span>
        </div>
      </mde-popover>
        {{ aprovador.nome }}</mat-card-title>
      <mat-card-subtitle style="margin-bottom:5px">Rejeitado em: {{aprovador.dataAprovacao | date: 'dd/MM/yyyy HH:mm'}}</mat-card-subtitle>
      <mat-card-content>{{aprovador.observacao}}</mat-card-content>
    </mat-card>
  </div>
</div>
