<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 div-autor">
    <label class="control-label" style="margin-right: 3px;">Autor: </label>
    <label class="control-label" style="margin-right: 3px;">{{autor}}</label>
  </div>
</div>

<div *ngIf="temJustificasParaSeremExibidas" class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <mat-card *ngFor="let aprovador of aprovacaoAd;">
      <mat-card-title>
        <em *appHasPermition="'assinatura:pendencias:exibirstatuspasso'" class="fa fa-circle {{retornaClassStatusPasso(aprovador.status)}}"
        [mdePopoverTriggerFor]="themePopoverStatusPasso"
        mdePopoverTriggerOn="hover" aria-hidden="true">
        </em>
        <mde-popover #themePopoverStatusPasso="mdePopover" [mdePopoverOverlapTrigger]="false"
        [mdePopoverCloseOnClick]="false" [mdePopoverOffsetX]="0" [mdePopoverOffsetY]="0" [mdePopoverArrowOffsetX]="0"
        mdePopoverArrowColor="transparent">
        <div style="background-color: #565656 ;padding:20px;border-radius:5px;opacity:0.95;">
          <span style="color: white;">{{retornaDescricaoStatusPasso(aprovador.status)}}</span>
        </div>
      </mde-popover>
        {{aprovador.nomeRepresentante === null || aprovador.nomeRepresentante === undefined ||
        aprovador.nomeRepresentante ==="" ? aprovador.nome :aprovador.nomeRepresentante }}</mat-card-title>
      <mat-card-subtitle>{{retornaTextoAssinatura(aprovador.status)}} em: {{aprovador.dataAssinatura | date: 'dd/MM/yyyy HH:mm'}}</mat-card-subtitle>
      <mat-card-content>{{aprovador.justificativa}}</mat-card-content>
    </mat-card>
  </div>
</div>
