.destaque{
    font-size: 20px;
  }

  .tamanho-tela {
    position: relative;
    min-height: 900px ;
    max-height: inherit;
    overflow: hidden;
  }

  .modal-body {
    max-height: 920px;
    padding-right: 0px;
    overflow: hidden;
  }

  .modal-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    &-last-button {
      margin: 0 !important;
    }
  }

  .tabela-scroll-historico-com-nf{
    padding-right: 15px;
    max-height: 680px;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
  }


  .nao-encontrado{
   width:660px;
  }
