<div class="panel-footer" style="min-height: 60px">
  <div id="dvLegenda" class="panel-heading">
    <div class="row">
      <div *appHasPermition="'assinatura:pendencias:exibirstatuspasso'" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h4 style="border-bottom: 1px dotted #ccc">Status</h4>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <em class="fa fa-circle marcador-assinadocomobservacao"></em> {{textoAssinaturaComObs}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <em class="fa fa-circle marcador-rejeitado"></em> Rejeitado
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
