<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">

	<variable name="caminhoLog" value="C:\ICE\Log" />
	<variable name="nomeArquivoLog" value="GDocsApi" />
	<variable name="separador" value="-----------------------------------------------------------------------" />

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File"
				header="${separador}${newline}Timestamp: ${longdate}${newline}Machine: ${machinename}${newline}Identity: ${windows-identity:userName=True:domain=True}${newline}Version: ${assembly-version}${newline}Process: ${processname:fullName=True}${newline}Logs: ${caminhoLog}${newline}${separador}"
				layout="Timestamp: ${longdate}${newline}Logger: ${logger}${newline}Level: ${level}${newline}Message: ${message}${onexception:inner=${newline}Exception\: ${exception:format=toString,Data:maxInnerExceptionLevel=10}}${newline}${separador}"
				fileName="${caminhoLog}\${nomeArquivoLog}.log"
				archiveFileName="${caminhoLog}\${nomeArquivoLog}\${nomeArquivoLog}.${shortdate}.{#####}.log"
				archiveEvery="Day"
				archiveAboveSize="5242880"
				archiveNumbering="Rolling"
				maxArchiveFiles="15"
				concurrentWrites="false"
				keepFileOpen="false"
				encoding="utf-8" />
		</target>

		<target name="trace" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="Trace"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
		</target>

		<target name="console" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="ColoredConsole"
				encoding="utf-8"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
				detectConsoleAvailable="true">
			</target>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="file,trace,console" />
	</rules>
</nlog>