<div class="div-modal" mat-dialog-content>
  <div class="modal-header">
    <h4 class="modal-title">Saída de material com nota fiscal</h4>
  </div>
  <div class="modal-body">
    <div>
    <app-pdf-preview [listarDocumentosChanging]="listarArquivosChangingValue"
     [showThumbnail]="true"
     [bloquearRemocaoPrimeiroElemento]="true"
     [mostraTrash]="false"
     [detalheDocumento]="false"
     (docSelecionadoEvent)="DocumentoSelecionado($event)">
    </app-pdf-preview>
    </div>
  </div>
  <div class="modal-footer">
    <b  *ngIf="MostraMensagemSaida()" class=" pull-left " style="color:red;">A nota fiscal de saída deve ser impressa em 3 vias.</b>
    <button cdkFocusInitial (click)="fechar()" type="button"
      class="btn btn-primary pull-right modal-footer-last-button">
      Fechar
    </button>
  </div>
</div>

